# {{ ansible_managed }}

#  Default rules for rsyslog.
#
#			For more information see rsyslog.conf(5) and /etc/rsyslog.conf
# 
# facility/severity filters look as follows:
# [facility].[severity]  /destination/of/message
# where facility is [auth, authpriv, cron, daemon, kern, lpr, mail, mark, news, security (same as auth), syslog, user, uucp, local0..local7]
# where severity is [debug, info, notice, warning/warn, err/error, crit, alert, emerg/panic]
# , for multiple facilities and ; for multiple patterns
# ! to negate the pattern, = for only that priority (rather than it and all higher priorities)
# Note: it's possible to omit syncing a file after every log by prefixing the path with a -

# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none                /var/log/messages
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# Log cron stuff
cron.*                                                  /var/log/cron
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log
{%- if rsyslog_default_template is defined -%}
,{{ rsyslog_default_template }}
{%- endif %}

