# {{ ansible_managed }}

#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#
#  Default logging rules can be found in /etc/rsyslog.d/50-default.conf


#################
#### MODULES ####
#################

{% if ansible_distribution_release == "xenial" or (ansible_os_family == "RedHat" and ansible_distribution_version|int >= 7) %}
{% for module in rsyslog_modules %}
module(load="{{ module.type }}") # {{ module.comment|default('') }}
{% endfor %}

{% if rsyslog_input_udp is defined %}
# UDP input
module(load="{{ rsyslog_input_udp.type|default('imudp') }}")
input(type="{{ rsyslog_input_udp.type|default('imudp') }}" address="{{ rsyslog_input_udp.address|default('*') }}" port="{{ rsyslog_input_udp.port|default(514) }}")
{% endif %}

{% if rsyslog_input_tcp is defined %}
# TCP input
{% if rsyslog_server_tls is defined %}
global(
  defaultNetstreamDriver="ptcp" 
  #TCP TLS
  defaultNetstreamDriverCAFile={{ rsyslog_server_tls.cafile|quote }}
  defaultNetstreamDriverCertFile={{ rsyslog_server_tls.certfile|quote }}
  defaultNetstreamDriverKeyFile={{ rsyslog_server_tls.keyfile|quote }}
)
module(
  load="{{ rsyslog_input_tcp.type|default('imtcp') }}"
  streamDriver.name="gtls"
  streamDriver.mode="{{ rsyslog_server_tls.drivermode|default(1) }}"
  streamDriver.authMode="{{ rsyslog_server_tls.authmode|default('anon') }}"
)
{% else %}
module(load="{{ rsyslog_input_tcp.type|default('imtcp') }}")
{% endif %}
input(type="{{ rsyslog_input_tcp.type|default('imtcp') }}" address="{{ rsyslog_input_tcp.address|default('*') }}" port="{{ rsyslog_input_tcp.port|default(514) }}")
{% endif %}

{% if rsyslog_client_tls is defined %}
$DefaultNetstreamDriverCAFile {{ rsyslog_client_tls.cafile|quote }}
{% endif %}

{% else %}
{% for module in rsyslog_modules %}
$ModLoad {{ module.type }} # {{ module.comment|default('') }}
{% endfor %}

{% if rsyslog_input_udp is defined %}
# UDP input
$ModLoad {{ rsyslog_input_udp.type|default('imudp') }}
$UDPServerAddress {{ rsyslog_input_udp.address|default('*') }}
$UDPServerRun {{ rsyslog_input_udp.port|default(514) }}
{% endif %}

{% if rsyslog_input_tcp is defined %}
# TCP input
{% if rsyslog_server_tls is defined %}
$DefaultNetstreamDriver gtls
$DefaultNetstreamDriverCAFile {{ rsyslog_server_tls.cafile|quote }}
$DefaultNetstreamDriverCertFile {{ rsyslog_server_tls.certfile|quote }}
$DefaultNetstreamDriverKeyFile {{ rsyslog_server_tls.keyfile|quote }}
{% endif %}
$ModLoad {{ rsyslog_input_tcp.type|default('imtcp') }}
$InputTCPServerAddress {{ rsyslog_input_tcp.address|default('*') }}
{% if rsyslog_server_tls is defined %}
$InputTCPServerStreamDriverMode {{ rsyslog_server_tls.drivermode|default(1) }}
$InputTCPServerStreamDriverAuthMode {{ rsyslog_server_tls.authmode|default('anon') }}
{% endif %}
$InputTCPServerRun {{ rsyslog_input_tcp.port|default(514) }}
{% endif %}

{% if rsyslog_client_tls is defined %}
$DefaultNetstreamDriverCAFile {{ rsyslog_client_tls.cafile|quote }}
$DefaultNetstreamDriver gtls
$InputTCPServerStreamDriverMode {{ rsyslog_client_tls.drivermode|default(1) }}
$InputTCPServerStreamDriverAuthMode {{ rsyslog_client_tls.authmode|default('anon') }}
{% endif %}
{% endif %}

# Enable non-kernel facility klog messages
$KLogPermitNonKernelFacility {{ rsyslog_klog_permit_non_kernel_facility }}

###########################
#### TEMPLATES
###########################
{% for template in rsyslog_templates -%}
{% if ansible_distribution_release == "xenial" or (ansible_os_family == "RedHat" and ansible_distribution_version|int >= 7) %}
template (name={{ template.name|quote }} type={{ template.type|default('string')|quote}} 
    string={{ template.string|quote }}
)
{% else %}
$template {{ template.name }},"{{ template.string }}"
{% endif %}
{%- endfor %}

###########################
#### RULESETS
###########################

{{ rsyslog_rulesets }}

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate {{ rsyslog_action.file_default_template }}

{% if rsyslog_action.queue_filename is defined %}
$ActionQueueFileName {{ rsyslog_action.queue_filename }}     # unique name prefix for spool files
{% endif %}
$ActionQueueMaxDiskSpace  {{ rsyslog_action.queue_maxdiskspace|default('100mb') }}     # 1gb space limit (use as much as possible)
$ActionQueueSaveOnShutdown {{ rsyslog_action.queue_saveonshutdown|default('on') }}     # save messages to disk on shutdown
$ActionQueueType {{ rsyslog_action.queue_type|default('LinkedList') }}       # run asynchronously
$ActionResumeRetryCount {{ rsyslog_action.resume_retrycount|default(-1) }}        # infinite retries if host is down

# Filter duplicated messages
$RepeatedMsgReduction {{ rsyslog_repeated_msg_reduction }}

#
# Set the default permissions for all log files.
#
$FileOwner {{ rsyslog_file_owner }}
$FileGroup {{ rsyslog_file_group }}
$FileCreateMode {{ rsyslog_file_create_mode }}
$DirCreateMode {{ rsyslog_dir_create_mode }}
$Umask {{ rsyslog_umask }}
$PrivDropToUser {{ rsyslog_priv_drop_to_user }}
$PrivDropToGroup {{ rsyslog_priv_drop_to_group }}

#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_work_directory }}

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig {{ rsyslog_include_config }}

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
$OmitLocalLogging on

# File to store the position in the journal
$IMJournalStateFile imjournal.state
